In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from util import Compare, getError, getdata
from LinearRegression import KfoldLinearRegression
from RandomForest import KfoldRandomForest

In [114]:
df1 = getdata("UseData.csv")
df1

          S        T     K   Value     tau     rate
0      2.65  0.24384  2.50  0.2092  0.0191  1.06000
1      2.65  0.24384  2.55  0.1734  0.0191  1.03922
2      2.65  0.24384  2.60  0.1400  0.0191  1.01923
3      2.65  0.24384  2.65  0.1111  0.0191  1.00000
4      2.65  0.24384  2.70  0.0882  0.0191  0.98148
...     ...      ...   ...     ...     ...      ...
31729  3.40  0.15616  3.40  0.1322  0.0250  1.00000
31730  3.40  0.15616  3.50  0.0924  0.0250  0.97143
31731  3.40  0.15616  3.60  0.0640  0.0250  0.94444
31732  3.40  0.15616  3.70  0.0415  0.0250  0.91892
31733  3.40  0.15616  3.80  0.0284  0.0250  0.89474

[25947 rows x 6 columns]

In [115]:



X = df1.drop(["Day","Value"], axis=1)  # 选择特征值和标签值
Y = df1.Value

          S        T     K     tau     rate
0      2.65  0.24384  2.50  0.0191  1.06000
1      2.65  0.24384  2.55  0.0191  1.03922
2      2.65  0.24384  2.60  0.0191  1.01923
3      2.65  0.24384  2.65  0.0191  1.00000
4      2.65  0.24384  2.70  0.0191  0.98148
...     ...      ...   ...     ...      ...
31729  3.40  0.15616  3.40  0.0250  1.00000
31730  3.40  0.15616  3.50  0.0250  0.97143
31731  3.40  0.15616  3.60  0.0250  0.94444
31732  3.40  0.15616  3.70  0.0250  0.91892
31733  3.40  0.15616  3.80  0.0250  0.89474

[25947 rows x 5 columns]

In [116]:
Out = pd.DataFrame()
Out = df1.merge(X,on = ["S","K","rate","T","tau"])
Out

          S        T     K   Value     tau     rate
0      2.65  0.24384  2.50  0.2092  0.0191  1.06000
1      2.65  0.24384  2.55  0.1734  0.0191  1.03922
2      2.65  0.24384  2.60  0.1400  0.0191  1.01923
3      2.65  0.24384  2.65  0.1111  0.0191  1.00000
4      2.65  0.24384  2.70  0.0882  0.0191  0.98148
...     ...      ...   ...     ...     ...      ...
25942  3.40  0.15616  3.40  0.1322  0.0250  1.00000
25943  3.40  0.15616  3.50  0.0924  0.0250  0.97143
25944  3.40  0.15616  3.60  0.0640  0.0250  0.94444
25945  3.40  0.15616  3.70  0.0415  0.0250  0.91892
25946  3.40  0.15616  3.80  0.0284  0.0250  0.89474

[25947 rows x 6 columns]

In [127]:
error = [0, 0, 0, 0]
for train_index, test_index in KFold(n_splits=7, random_state=7, shuffle=True).split(X, Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]
    model = LinearRegression()
    model.fit(X_train, Y_train)
    predictions = model.predict(X_test)
    Y_test = np.array(Y_test)
    error += getError(predictions, Y_test)
    print(predictions, Y_test)
    
error /= 5
print("###############Error of LinearRegression###########")
print("MAE  = ", error[0])
print("RMSE = ", error[1])
print("MPE  = ", error[2])
print("MAPE = ", error[3])

[ 0.16103538 -0.03701821  0.03812044 ... -0.01246508  0.03936898
  0.37764985] [0.14   0.0205 0.0538 ... 0.0092 0.0654 0.395 ]
[-0.01396094  0.17537391  0.16040119 ...  0.44031321  0.11958289
  0.18773109] [0.0287 0.1683 0.121  ... 0.468  0.1348 0.186 ]
[0.08527271 0.05877148 0.03386967 ... 0.3560523  0.29383933 0.0667996 ] [0.1028 0.0865 0.0707 ... 0.4188 0.333  0.064 ]
[ 0.19691053  0.06567077 -0.099201   ...  0.27173837  0.09107364
  0.14253773] [0.1734 0.0672 0.0095 ... 0.2826 0.1102 0.1322]
[0.23429985 0.1264535  0.09460581 ... 0.1748865  0.01432935 0.22711417] [0.2092 0.1111 0.0882 ... 0.1828 0.0517 0.2373]
[0.03689784 0.24454889 0.09083739 ... 0.23774784 0.10251553 0.00724142] [0.051  0.2282 0.0503 ... 0.2533 0.0924 0.0284]
[ 0.01070583 -0.0597303   0.11345374 ...  0.22662836  0.08269807
  0.03492485] [0.0387 0.0162 0.1231 ... 0.2317 0.0499 0.0415]
###############Error of LinearRegression###########
MAE  =  0.04692713536252453
RMSE =  0.060894830852539814
MPE  =  0.033191531775237336
MAPE =  1.3496696688557774

In [124]:
error = [0, 0, 0, 0]
for train_index, test_index in KFold(n_splits=5,shuffle = True, random_state = 7).split(X, Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]
    model = RandomForestRegressor(
        n_estimators=190,
        max_depth=12,
        max_features='log2',
        random_state=42,
        min_samples_leaf=1
    )
    model.fit(X_train, Y_train)
    predictions = model.predict(X_test)
    Y_test = np.array(Y_test)
    error += getError(predictions, Y_test)
error /=5
print("#############Error of Random Forest################")
print("MAE  = ", error[0])
print("RMSE = ", error[1])
print("MPE  = ", error[2])
print("MAPE = ", error[3])

#############Error of Random Forest################
MAE  =  0.013933356505423383
RMSE =  0.020618638832975985
MPE  =  0.0037908306257921015
MAPE =  0.23755785040703054